---
// Basic Contact Form
// ------------
// Description: A basic contact form using Formbricks JS SDK.
// Properties:
// - classes: Additional classes to be added to the block
// ------------

import Card from '../../ui/cards/partials/Card.astro'
import CardBody from '../../ui/cards/partials/CardBody.astro'

// Props
type Props = {
    classes?: string
}
const { classes } = Astro.props
---

<Card classes={classes}>
    <CardBody>
        <div id="formbricks-form-card" class="min-h-[300px]"></div>
    </CardBody>
</Card>

<script type="module">
    import formbricks from "https://unpkg.com/@formbricks/js@latest/dist/index.js";
    
    // Wait for the DOM to be ready
    document.addEventListener('DOMContentLoaded', async () => {
        // Initialize Formbricks
        await formbricks.init({
            environmentId: "cmfk9bhq23zgmz201gcady8lr",
            apiHost: "https://app.formbricks.com",
        });

        // Display the survey in the card
        formbricks.display("cmfk9ptj11shzxs01tw1ngjm6", "formbricks-form-card");
    });
</script>